.hoc.p-0.container
    .topspace-20.row
      h1.bold.outspace-15.col-lg-12 VỀ CHÚNG TÔI
      .col-lg-6
        img(src='images/banner3.png')
      .col-lg-6
        img(src='images/logo.png')
        p.bold.topspace-20 GIỚI THIỆU CHUNG VỀ MỸ PHẨM HANDMADE MANDALA
        p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
        p.left.color--gray Xem thêm