//- Detail item
article.hoc.container.p-0.topspace-30
    .row.pl-4
      ul.col-3.col-lg-1.list-unstyled.p-0.center
        li.detail-item__img1
          img(src='images/arrow-up.png')
        li
          img(src='images/hop1.png')
        li
          img(src='images/hop2.png')
        li
          img(src='images/hop3.png')
        li
          img(src='images/hop4.png')
        li
          img(src='images/arrow-down.png')
      img.col-9.col-lg-6.detail-item__img2(src='images/hop5.png')
      aside.col-lg-5
        h3.font-15 Lắc tay TYFFANY xu hướng mới nhất
        h6.font-10 TYFFANY MS 3201
        p.bold.italic.nospace.inline(style='font-size: 25px') 955.000đ
        .nospace.inline.italic.outspace-10(style='font-size: 20px; color: #c1c1c1') 999.000đ
        p Không thể phủ nhận, thời trang và phong cách chính là “tuyên ngôn” không lời mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu “mạnh tay” để sở hữu những món đồ yêu thích.
        h5.bold.outspace-5 Màu sắc
        input.form-control.outspace-10(type='text', placeholder='Màu bạc')
        h5.bold.outspace-5 Size
        input.form-control.outspace-10(type='text', placeholder='12')
        h5.bold.outspace-5 Số lượng
        .block
            button.bold.btn.btn-item1.visible MUA HÀNG
            button.btn.btn-item2.fa.fa-heart.visible
            button.btn.btn-item3.fa.fa-refresh.visible
        p.inline Shipping & <a href="#" style="color:red">Returns</a>
        .inline.detail-item__btnall
          button.btnface.p-0
            i.fa.fa-facebook-square.p-2  Like
          span.arrow-box 0
          button.btntwitter.p-0
            i.fa.fa-twitter.bold.p-2
              p.bold.p-0.m-0 Tweet
          span.arrow-box 0
          button.btngplus.p-0.color--red
            i.fa.fa-google-plus.bold.p-2  +1
          span.arrow-box 0
          div
            button.pr-1.pl-1.btnlinkedin.color--white.border-right
              i.fa.fa-linkedin.bold
            button.m-0.btnlinkedin.border-none
              a(href='#').bold.color--white  Share
          button.btnpinterest.color--red
              i.fa.fa-pinterest-p.bold  in it
//-  End detail item