//- Gird banner
.gird-banner.container.mw-100.p-0.d-none.d-md-block(style='background-color:#afb2b7; height: 170px')
  .hoc.p-0
    .row.p-0.color--white
      .col-lg-4.col-md-4.p-0.topspace-50
        img(src='images/text-banner.png').gird-banner-ct1
      .col-lg-3.p-0.topspace-50.col-md-3
        p.gird-banner-ct2.m-0 Trong vòng 3 ngày
        p.bold.gird-banner-ct2.m-0.pt-0 (25/5 - 28-5/2015)
      .col-lg-4.offset-lg-1.p-0.col-md-4
        img.bannergirl(src='images/5image.png' style='border:none;')
//-  End Gird banner