//-  Gird item //
include mixin/Gird-mixin.pug
.col-lg-9.topspace-30.pr-0.gird-item__icon
    +gird-direct-icon
    hr
    ul.product--grid--item.row.list-unstyled
    ul.product--list--item.row.list-unstyled
    .topspace-40