include menu-home-page.pug
 //- Banner Home page
div
  .headbanner
    img.banner1(src='images/headbanner1.png' alt='headbanner1')
    img.vera(src='images/Green Vera.png')
    a(href="#").opensans Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
    a(href="#").opensans2
      | GIÁ CHỈ 750.000
      sup đ
    a.opensans3(href='#') MUA HÀNG