//- Item sell 
section.topspace-30.outspace-30.container.mw-100.border(style='background-image: url(images/background-items.png)')
      ul.hoc.center.italic
        li.inline.font-15.bold
          a(href='#') Sản phẩm mới
        li.inline.bold.font-25
          a.color--black(href='#') Sản phẩm bán chạy
        li.inline.font-15.bold
          a(href='#') Sản phẩm đặc biệt
      img.outspace-10.center.item1(src='images/gachduoi-item.png')
      ul.hoc.center(style='color: #c1c1c1')
        - var list = ["Mỹ phẩm", "Chăm sóc da", "Dành cho tóc", "Nước hoa", "Trang sức", "Quà tặng"];
          each item in list
            li.inline
              a(href="#")= item
      ul.list-unstyled.m-4.p-0.row.topspace-30
        li.mt-4.mr-0.ml-0.p-0.clear.center.overlay.blur.col-sm-2.col-md-2.col-lg-2
          img.item-height.nospace(src='images/mypham5.png')
          hr.hr__dotted
          p.nospace(style='color: #c1c1c1') TYFFANY
          p.bold.nospace Mỹ phẩm châu Âu
          hr.hr__solid
          p.bold.italic.active.nospace.inline(style='font-size: medium; color: red') 355.000
            sup đ
        img.item-leftarrow.clear(src='images/arrow-left.png')
        li.mt-4.mr-0.ml-0.p-0.clear.center.triggeritem.col-sm-2.col-md-2.col-lg-2
          img.item-height.nospace(src='images/mypham1.png')
          hr.hr__dotted
          p.nospace(style='color: #c1c1c1') OHUI
          p.bold.nospace Mỹ phẩm châu Âu
          hr.hr__solid
          p.bold.italic.active.nospace(style='font-size: medium')
            | 355.000
            sup đ
          .block
            button.bold.btn.btn-item1 MUA HÀNG
            button.btn.btn-item2.fa.fa-heart
            button.btn.btn-item3.fa.fa-refresh
        li.mt-4.mr-0.ml-0.p-0.d-none.d-sm-block.center.triggeritem.col-sm-2.col-md-6.col-lg-2
          img.item-height.nospace(src='images/mypham3.png')
          hr.hr__dotted
          p.nospace(style='color: #c1c1c1') HOME
          p.bold.nospace Mỹ phẩm châu Âu
          hr.hr__solid
          p.bold.italic.active.nospace.inline(style='font-size: medium') 355.000
            sup đ
          .nospace.inline.italic(style='font-size: unset; color: #c1c1c1') 455.000
            sup đ
          .block
            button.bold.btn.btn-item1 MUA HÀNG
            button.btn.btn-item2.fa.fa-heart
            button.btn.btn-item3.fa.fa-refresh
        li.mt-4.mr-0.ml-0.p-0.clear.see.center.triggeritem.col-sm-2.col-md-6.col-lg-2
          img.item-height.nospace(src='images/mypham2.png')
          hr.hr__dotted
          p.nospace(style='color: #c1c1c1') DEBORA
          p.bold.nospace Mỹ phẩm châu Âu
          hr.hr__solid
          p.bold.italic.active.nospace(style='font-size: medium')
            | 355.000
            sup đ
          .block
            button.bold.btn.btn-item1 MUA HÀNG
            button.btn.btn-item2.fa.fa-heart
            button.btn.btn-item3.fa.fa-refresh
        li.mt-4.mr-0.ml-0.p-0.clear.center.triggeritem.col-sm-2.col-md-2.col-lg-2
          img.item-height.nospace(src='images/mypham4.png')
          hr.hr__dotted
          p.nospace(style='color: #c1c1c1') SARVON
          p.bold.nospace Mỹ phẩm châu Âu
          hr.hr__solid
          p.bold.italic.active.nospace(style='font-size: medium')
            | 355.000
            sup đ
          .block
            button.bold.btn.btn-item1 MUA HÀNG
            button.btn.btn-item2.fa.fa-heart
            button.btn.btn-item3.fa.fa-refresh
        img.item-rightarrow(src='images/arrow-right.png')
        li.mt-4.mr-0.ml-0.p-0.clear.center.blur.col-sm-2.col-md-2.col-lg-2
          img.item-height.nospace(src='images/mypham6.png')
          hr.hr__dotted
          p.nospace(style='color: #c1c1c1') TYFFANY
          p.bold.nospace Mỹ phẩm châu Âu
          hr.hr__solid
          p.bold.italic.active.nospace.inline(style='font-size: medium; color:red')
            | 355.000
            sup đ
//-  End item sell