//- Heading page
.border-bottom
    header#header
      .hoc.inspace-10
        .logo.fl_left
          a(href='#')
            img(src='images/logo.png', alt='logo')
        nav.uppercase.inline
          ul.clear.center
            li
              a(href='./Home.html') Trang chủ
            li
              a(href='./About-Us.html') Giới thiệu
            li.triggermenu
              a(href='./Product.html')
                | Sản phẩm 
                i.fa.fa-angle-down
              .arrowmenu
              ul.menu1
                li.one_third.first.left.font-size--min
                  | DƯỠNG DA
                  hr.hrblock
                  ul.thirdmenu1
                    - var list = ["Áo khoác", "Bộ áo liền quần", "Dresses", "Quần/Váy","Quần short", "Quần jean", "Đồ đan", "Áo nỉ"];
                      each item in list
                        li
                          a(href="#")= item
                li.one_third.left.font-size--min.fixmenu1
                  | NƯỚC HOA
                  hr.hrblock
                  ul.thirdmenu1
                    - var list = ["Áo cánh", "Túi xách & Balô", "Khăn quàng cổ và Foulards", "Dệt kim Hats & Gloves","Vớ & Socks", "Jewerly", "Bị bảo vệ", "Giày"];
                      each item in list
                        li
                          a(href="#")= item
                li.one_third.left.font-size--min.fixmenu1
                  | TRANG SỨC
                  hr.hrblock
                  ul.thirdmenu1
                    - var list = ["Áo cánh", "Túi xách & Balô", "Khăn quàng cổ và Foulards", "Dệt kim Hats & Gloves","Vớ & Socks", "Jewerly", "Bị bảo vệ", "Giày"];
                      each item in list
                        li
                          a(href="#")= item
            li
              a(href='./Blog.html') Tin tức
            li
              a(href='./Contact.html') Bản đồ
            li
              a(href='./404.html') Liên hệ
        nav.fl_right.inline
          ul.inline
            li
              a#cart(href='#')
                i.fa.fa-shopping-cart.show-amount-item
              .menu2(style="display: none;")
                ul.ml-4.menu2-ct.container.cart__item--sub
                ul.ml-3.container.p-0
                  .hrblock
                    hr.hrblock
                  .hrblock
                    p Tổng số
                    p.inline.fl_right.italic.active.pr-4.mr-3.total--price
                  .hrblock
                    button.btn.btn-dark.btn--payment Giỏ hàng
              .arrowmenu(style='margin-left:-15px')
            li.mr-left20
              a(href='#')
                i.fa.fa-search
            li.barmenu
              a(href='#')
                i.fa.fa-bars