#centralModalInfo.modal.fade.modal-home
  .modal-dialog.modal-dialog-centered.modal-notify.modal-info
    .modal-content
      h1.text-uppercase.mb-3.text-center Gửi Email
      span Hãy gửi email của bạn liên hệ với chúng tôi để được tư vấn tốt nhất
      span Sự hài lòng của bạn là thành công của chúng tôi
      input.w-75.mt-4.mb-4(type='text', placeholder='Email của bạn...')
      a.text-uppercase(href='') Gửi email