doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Mandala - 404 Error
    link(rel='icon' href='images/Madala.ico')
    link(rel="stylesheet" href="layout/styles/bootstrap/css/bootstrap.min.css")
    link(href='layout/styles/layout.css', rel='stylesheet', type='text/css')
  body#top
    .text-center
      img(src='images/page_404.jpg')
      .input-group.mb-3.mt-4
        input(type='text' style='margin-left:36%;width:25%')
        .input-group-append
          span.input-group-text
            i.fa.fa-search
      div
        a.text-uppercase.mr-3(href='./Contact.html') Liên hệ
        p.inline |
        a.text-uppercase.ml-3(href='./Home.html') Trang chủ