extends includes/layout

block content
    include includes/menu.pug
    - var namefile = 3;
    include includes/navigation.pug
    include includes/cart-item.pug
block append script
    script(type="text/javascript" src='layout/js/product.js')
    script(type="text/javascript" src='layout/js/cart.js')
    script(type="text/javascript" src='layout/js/shopping__cart.js')
