mixin detail-spec__feature__left(img,class1,class2)
  .row.topspace-30
        .col-lg-7.col-md-8.col-12(class=class1)
          p.pt-4.font-x1 THE MARK OF A LEGEND
          pre <s>       </s>
          p Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
        .col-lg-5.col-md-4.col-12(class=class2)
          img(src=img)
mixin detail-spec__feature__right(img)
  .row.topspace-10.outspace-20
        .col-lg-5.col-md-4
          img(src=img)
        .col-lg-7.col-md-8.text-right
          p.pt-4.font-x1 THE MARK OF A LEGEND
          pre <s>       </s>
          p Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
        
mixin detail-item__small
  .col-lg-4.p-0.topspace-20
              img(src='images/vong5.png')
  .col-lg-8.p-0.pt-2.topspace-20
              p.bold Mỹ phẩm châu Âu
              pre
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                | (4 lượt mua)
              p.bold 355.000đ
  hr.hrdotted

mixin detail-item__small__last-child
  .col-lg-4.p-0.topspace-20
              img(src='images/vong5.png')
  .col-lg-8.p-0.pt-2.topspace-20
              p.bold Mỹ phẩm châu Âu
              pre
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                | (4 lượt mua)
              p.bold 355.000đ