mixin gird-direct-icon
      .outspace-29.respon--topspace-30
        h6.float-left 
          button#gird__grid.d-inline.btn.btn-light
            i.fa.fa-th-large
            |  
          button#gird__list.d-inline.btn.btn-light.typeButton__deactive
            i.fa.fa-th-list
        h6.float-right
          button#gird__btn-left.d-inline.btn.btn-light
            i.fa.fa-caret-left
          button.d-inline.btn.btn-light
            b  1
          button.d-inline.btn.btn-light
            |  2
          button.d-inline.btn.btn-light
            |  3  
          button#gird__btn-right.d-inline.btn.btn-light
            i.fa.fa-caret-right
mixin gird-items
      .row.list-unstyled.respon--topspace-30
        li.mt-4.mr-0.ml-0.p-0.center.triggeritem.col-6.col-md-4.col-lg-4
          img.item-height.nospace(src='images/mypham1.png' style='height:225px')
          hr(style='border-top: 1px dotted #c1c1c1; width:80%')
          p.nospace(style='color: #c1c1c1') OHUI
          p.bold.nospace Mỹ phẩm châu Âu
          s.nospace
            pre(style='margin:0')                            
          p.bold.italic.active.nospace(style='font-size: medium')
            | 355.000
            sup đ
          .block
            button.bold.btn.btn-item1 MUA HÀNG
            button.btn.btn-item2.fa.fa-heart
            button.btn.btn-item3.fa.fa-refresh
        li.mt-4.mr-0.ml-0.p-0.see.center.triggeritem.col-6.col-md-4.col-lg-4
          img.item-height.nospace(src='images/mypham3.png' style='height:225px')
          hr(style='border-top: 1px dotted #c1c1c1; width:80%')
          p.nospace(style='color: #c1c1c1') HOME
          p.bold.nospace Mỹ phẩm châu Âu
          s.nospace
            pre(style='margin:0')                            
          p.bold.italic.active.nospace.inline(style='font-size: medium') 355.000
            sup đ
          .nospace.inline.italic(style='font-size: unset; color: #c1c1c1') 455.000
            sup đ
          .block
            button.bold.btn.btn-item1 MUA HÀNG
            button.btn.btn-item2.fa.fa-heart
            button.btn.btn-item3.fa.fa-refresh
        li.mt-4.mr-0.ml-0.p-0.clear.see.center.triggeritem.col-md-4.col-lg-4
          img.item-height.nospace(src='images/mypham2.png' style='height:225px')
          hr(style='border-top: 1px dotted #c1c1c1; width:80%')
          p.nospace(style='color: #c1c1c1') DEBORA
          p.bold.nospace Mỹ phẩm châu Âu
          s.nospace
            pre(style='margin:0')                            
          p.bold.italic.active.nospace(style='font-size: medium')
            | 355.000
            sup đ
          .block
            button.bold.btn.btn-item1 MUA HÀNG
            button.btn.btn-item2.fa.fa-heart
            button.btn.btn-item3.fa.fa-refresh