mixin list-direct-icon
  .outspace-29
        h6.float-left 
          i.fa.fa-th-large
          |  
          i.fa.fa-th-list
        h6.float-right
          i.fa.fa-caret-left
          b  1
          |  2 
          |  3  
          i.fa.fa-caret-right
  hr
mixin list-list
          li.row.topspace-20.triggeritem
            .mt-4.mr-0.ml-0.p-0.center.triggeritem.col-12.col-md-4.col-lg-4
              img.item-height.nospace(src='images/mypham2.png' style='height:195px')
              hr(style='border-top: 1px dotted #c1c1c1; width:80%')
            .col-12.col-md-7.col-lg-8
              h6.bold Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới
              pre
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                i.fa.fa-heart
                | (4 lượt mua)
              p Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
              p.bold.font-20 355.000đ
              .block
                button.bold.btn.btn-item1 MUA HÀNG
                button.btn.btn-item2.fa.fa-heart
                button.btn.btn-item3.fa.fa-refresh